Source: mold
Section: devel
Priority: optional
Maintainer: Sylvestre Ledru <sylvestre@debian.org>
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 dwarfdump,
 libmimalloc-dev,
 libssl-dev,
 libxxhash-dev,
 pkg-config,
 zlib1g-dev,
 gdb
Standards-Version: 4.6.0
Homepage: https://github.com/rui314/mold
Vcs-Browser: https://salsa.debian.org/pkg-llvm-team/mold
Vcs-Git: https://salsa.debian.org/pkg-llvm-team/mold.git
Rules-Requires-Root: no

Package: mold
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Drop-in linker
 mold is a faster drop-in replacement for existing Unix linkers.
 It is several times faster than the LLVM lld linker.
 mold is designed to increase developer productivity by reducing
 build time, especially in rapid debug-edit-rebuild cycles.
